[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NPRED"]
	path = NPRED
	url = https://github.com/zejiang-unsw/npred
[submodule "WASP"]
	path = WASP
	url = https://github.com/zejiang-unsw/wasp
[submodule "synthesis"]
	path = synthesis
	url = https://github.com/zejiang-unsw/synthesis
